# Auto detect text files and perform LF normalization
* text=auto
testing/snapshots/12-block-matte-opaque-shadows-mirror-nopointlight-directionallight-softlighting-reinhard-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/14-cone-emissive-opaque-noshadows-notransformation-pointlight-nodirectionallight-nosoftlighting-reinhardperchannel-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/84-triangles-color-opaque-shadows-rotation-pointlight-nodirectionallight-nosoftlighting-reinhardperchannel-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/95-point-emissive-opaque-noshadows-rotation-nopointlight-nodirectionallight-softlighting-notonemapping-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/72-cylinder-matte-transparent-shadows-rotation-pointlight-nodirectionallight-nosoftlighting-reinhard-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/80-linesegments-color-opaque-noshadows-notransformation-pointlight-nodirectionallight-nosoftlighting-reinhard-supersampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/92-sphere-texturedmatte-opaque-noshadows-translation-pointlight-nodirectionallight-nosoftlighting-hablefilmic-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/29-plain-color-opaque-noshadows-translation-pointlight-nodirectionallight-nosoftlighting-hablefilmic-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/33-triangles-color-transparent-shadows-translation-pointlight-directionallight-nosoftlighting-hablefilmic-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/96-quad-emissive-opaque-noshadows-mirror-pointlight-nodirectionallight-nosoftlighting-reinhardperchannel-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/100-plain-color-transparent-noshadows-scale-nopointlight-directionallight-softlighting-notonemapping-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/43-points-color-transparent-noshadows-rotation-pointlight-nodirectionallight-nosoftlighting-notonemapping-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/7-facet-pbr-transparent-noshadows-translation-nopointlight-directionallight-softlighting-reinhardperchannel-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/36-point-color-transparent-noshadows-mirror-nopointlight-directionallight-nosoftlighting-hablefilmic-supersampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/60-textured-matte-transparent-noshadows-scale-pointlight-nodirectionallight-nosoftlighting-hablefilmic-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/22-unlit-texturedemissive-opaque-shadows-translation-pointlight-directionallight-nosoftlighting-reinhard-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/23-triangles-emissive-opaque-noshadows-mirror-nopointlight-nodirectionallight-softlighting-reinhard-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/27-block-pbr-transparent-noshadows-rotation-pointlight-nodirectionallight-nosoftlighting-hablefilmic-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/57-plain-color-transparent-shadows-rotation-pointlight-nodirectionallight-nosoftlighting-notonemapping-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/24-texturedfacets-matte-transparent-noshadows-mirror-nopointlight-directionallight-softlighting-reinhardperchannel-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/4-facet-matte-transparent-noshadows-notransformation-pointlight-nodirectionallight-softlighting-hablefilmic-supersampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/40-facets-pbr-transparent-shadows-notransformation-pointlight-nodirectionallight-nosoftlighting-reinhard-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/85-sphere-texturedpbr-opaque-noshadows-rotation-nopointlight-nodirectionallight-softlighting-reinhardperchannel-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/98-polyline-color-opaque-noshadows-notransformation-nopointlight-directionallight-softlighting-notonemapping-supersampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/71-quad-texturedemissive-opaque-shadows-scale-pointlight-nodirectionallight-softlighting-reinhardperchannel-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/56-point-color-transparent-noshadows-scale-pointlight-nodirectionallight-softlighting-reinhardperchannel-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/53-cone-matte-transparent-noshadows-scale-pointlight-nodirectionallight-softlighting-notonemapping-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/70-unlit-emissive-opaque-noshadows-scale-nopointlight-nodirectionallight-softlighting-notonemapping-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/104-sphere-matte-opaque-noshadows-notransformation-pointlight-nodirectionallight-nosoftlighting-notonemapping-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/106-unlit-texturedcolor-opaque-shadows-rotation-pointlight-nodirectionallight-nosoftlighting-reinhard-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/38-points-emissive-opaque-noshadows-notransformation-pointlight-nodirectionallight-softlighting-reinhardperchannel-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/94-textured-emissive-opaque-noshadows-translation-pointlight-directionallight-nosoftlighting-hablefilmic-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/74-sphere-color-opaque-noshadows-mirror-pointlight-nodirectionallight-softlighting-notonemapping-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/101-block-pbr-opaque-shadows-notransformation-pointlight-nodirectionallight-softlighting-notonemapping-supersampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/30-facets-matte-transparent-noshadows-scale-pointlight-nodirectionallight-nosoftlighting-hablefilmic-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/50-cone-pbr-transparent-noshadows-translation-pointlight-nodirectionallight-nosoftlighting-hablefilmic-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/63-facet-emissive-opaque-noshadows-mirror-pointlight-nodirectionallight-nosoftlighting-notonemapping-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/73-point-color-transparent-noshadows-translation-nopointlight-directionallight-softlighting-reinhard-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/35-polyline-emissive-opaque-noshadows-translation-pointlight-directionallight-nosoftlighting-hablefilmic-supersampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/49-linesegments-color-transparent-noshadows-translation-nopointlight-directionallight-softlighting-reinhardperchannel-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/10-unlit-color-transparent-noshadows-rotation-nopointlight-nodirectionallight-softlighting-notonemapping-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/83-texturedfacets-color-transparent-noshadows-notransformation-nopointlight-directionallight-softlighting-reinhard-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/90-texturedfacets-pbr-opaque-noshadows-mirror-pointlight-directionallight-nosoftlighting-hablefilmic-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/103-textured-texturedmatte-opaque-shadows-notransformation-pointlight-nodirectionallight-nosoftlighting-reinhard-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/41-triangles-emissive-opaque-shadows-notransformation-pointlight-directionallight-nosoftlighting-reinhardperchannel-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/64-quad-pbr-transparent-noshadows-notransformation-pointlight-nodirectionallight-nosoftlighting-reinhardperchannel-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/67-plain-emissive-opaque-shadows-mirror-pointlight-nodirectionallight-nosoftlighting-reinhard-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/62-textured-color-transparent-noshadows-notransformation-nopointlight-nodirectionallight-softlighting-notonemapping-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/15-linesegments-emissive-opaque-noshadows-mirror-pointlight-nodirectionallight-nosoftlighting-hablefilmic-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/5-linesegment-color-transparent-noshadows-translation-pointlight-directionallight-nosoftlighting-hablefilmic-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/51-unlit-color-transparent-noshadows-mirror-nopointlight-nodirectionallight-softlighting-hablefilmic-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/26-linesegment-color-opaque-noshadows-notransformation-nopointlight-nodirectionallight-softlighting-reinhard-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/31-quad-matte-transparent-shadows-mirror-pointlight-directionallight-nosoftlighting-hablefilmic-supersampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/47-unlit-texturedcolor-opaque-shadows-notransformation-pointlight-nodirectionallight-softlighting-reinhardperchannel-supersampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/18-textured-texturedmatte-opaque-shadows-mirror-nopointlight-directionallight-softlighting-reinhardperchannel-supersampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/21-polyline-color-transparent-noshadows-scale-nopointlight-directionallight-nosoftlighting-notonemapping-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/44-texturedfacets-texturedmatte-opaque-noshadows-scale-pointlight-directionallight-nosoftlighting-reinhard-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/61-triangles-color-transparent-noshadows-scale-nopointlight-nodirectionallight-softlighting-notonemapping-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/77-facets-emissive-opaque-shadows-translation-pointlight-nodirectionallight-softlighting-notonemapping-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/8-points-emissive-opaque-noshadows-translation-pointlight-nodirectionallight-nosoftlighting-reinhard-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/46-block-color-transparent-shadows-scale-pointlight-nodirectionallight-softlighting-reinhardperchannel-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/69-polyline-color-transparent-noshadows-rotation-nopointlight-nodirectionallight-softlighting-reinhardperchannel-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/32-plain-color-transparent-shadows-notransformation-nopointlight-directionallight-softlighting-reinhardperchannel-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/9-sphere-pbr-transparent-shadows-scale-nopointlight-directionallight-nosoftlighting-hablefilmic-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/42-uniform-color-transparent-noshadows-mirror-pointlight-nodirectionallight-nosoftlighting-hablefilmic-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/102-sphere-emissive-opaque-shadows-translation-nopointlight-directionallight-softlighting-reinhardperchannel-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/37-cylinder-pbr-opaque-noshadows-notransformation-nopointlight-nodirectionallight-softlighting-hablefilmic-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/1-uniform-pbr-opaque-shadows-scale-pointlight-nodirectionallight-softlighting-reinhardperchannel-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/45-quad-texturedpbr-opaque-shadows-translation-nopointlight-directionallight-nosoftlighting-notonemapping-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/34-points-color-transparent-noshadows-scale-nopointlight-directionallight-softlighting-hablefilmic-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/76-quad-texturedcolor-opaque-noshadows-mirror-nopointlight-directionallight-softlighting-hablefilmic-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/88-sphere-texturedcolor-opaque-noshadows-scale-nopointlight-nodirectionallight-softlighting-notonemapping-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/97-sphere-texturedmatte-opaque-noshadows-rotation-pointlight-directionallight-nosoftlighting-hablefilmic-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/16-uniform-matte-transparent-shadows-translation-nopointlight-directionallight-softlighting-notonemapping-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/20-point-emissive-opaque-noshadows-notransformation-pointlight-nodirectionallight-softlighting-notonemapping-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/3-cone-color-transparent-noshadows-rotation-nopointlight-directionallight-softlighting-reinhard-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/79-quad-texturedmatte-opaque-noshadows-translation-nopointlight-nodirectionallight-softlighting-notonemapping-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/81-texturedfacets-emissive-opaque-noshadows-rotation-pointlight-nodirectionallight-nosoftlighting-hablefilmic-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/68-quad-color-transparent-noshadows-rotation-nopointlight-nodirectionallight-softlighting-notonemapping-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/19-polyline-color-opaque-noshadows-mirror-pointlight-nodirectionallight-softlighting-reinhard-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/39-texturedfacets-texturedemissive-opaque-noshadows-rotation-nopointlight-directionallight-softlighting-hablefilmic-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/58-facet-color-opaque-noshadows-scale-pointlight-nodirectionallight-softlighting-reinhard-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/99-textured-texturedemissive-opaque-shadows-mirror-pointlight-nodirectionallight-softlighting-notonemapping-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/55-linesegment-color-transparent-noshadows-rotation-pointlight-nodirectionallight-softlighting-hablefilmic-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/17-facets-pbr-transparent-noshadows-mirror-nopointlight-nodirectionallight-softlighting-notonemapping-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/2-facet-matte-opaque-noshadows-rotation-nopointlight-directionallight-nosoftlighting-notonemapping-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/25-quad-texturedpbr-opaque-noshadows-scale-nopointlight-nodirectionallight-softlighting-reinhard-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/28-linesegment-color-transparent-noshadows-mirror-nopointlight-directionallight-nosoftlighting-notonemapping-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/6-texturedfacets-texturedcolor-opaque-noshadows-translation-pointlight-nodirectionallight-nosoftlighting-notonemapping-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/66-texturedfacets-texturedpbr-opaque-noshadows-notransformation-pointlight-nodirectionallight-nosoftlighting-hablefilmic-supersampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/86-sphere-texturedemissive-opaque-noshadows-notransformation-pointlight-nodirectionallight-softlighting-reinhard-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/93-block-emissive-opaque-noshadows-translation-pointlight-directionallight-softlighting-notonemapping-supersampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/59-cylinder-emissive-opaque-noshadows-scale-nopointlight-nodirectionallight-softlighting-reinhardperchannel-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/65-textured-texturedcolor-opaque-shadows-translation-pointlight-nodirectionallight-nosoftlighting-reinhard-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/13-facets-color-opaque-shadows-rotation-pointlight-directionallight-nosoftlighting-reinhardperchannel-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/48-linesegment-emissive-opaque-noshadows-scale-pointlight-nodirectionallight-nosoftlighting-reinhardperchannel-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/78-uniform-matte-opaque-noshadows-rotation-pointlight-nodirectionallight-softlighting-notonemapping-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/91-linesegments-color-opaque-noshadows-scale-pointlight-directionallight-nosoftlighting-hablefilmic-supersampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/87-textured-texturedpbr-opaque-noshadows-mirror-pointlight-directionallight-softlighting-reinhard-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/89-cone-matte-transparent-noshadows-mirror-pointlight-nodirectionallight-softlighting-hablefilmic-supersampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/11-uniform-emissive-opaque-shadows-notransformation-nopointlight-directionallight-nosoftlighting-reinhard-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/52-linesegments-emissive-opaque-noshadows-rotation-nopointlight-nodirectionallight-softlighting-notonemapping-supersampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/75-textured-pbr-transparent-noshadows-rotation-nopointlight-nodirectionallight-softlighting-reinhardperchannel-multisampling-perspective.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/82-points-color-transparent-noshadows-mirror-pointlight-nodirectionallight-softlighting-reinhardperchannel-multisampling-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/105-cylinder-emissive-opaque-shadows-mirror-pointlight-nodirectionallight-softlighting-reinhard-noantialiasing-orthographic.png filter=lfs diff=lfs merge=lfs -text
testing/snapshots/54-cylinder-color-transparent-shadows-translation-pointlight-directionallight-nosoftlighting-notonemapping-noantialiasing-perspective.png filter=lfs diff=lfs merge=lfs -text
